/* dependencies */
@import "@fortawesome/fontawesome-free/css/all.css"; 
@import "~bootstrap/scss/bootstrap";


/* local imports */
@import "./styles/variables";
@import "./styles/fonts";
@import "./styles/base";


.containerFilms{
        flex-wrap: wrap;
        
}
h1{
color: white;
margin-top: 1%;
}
.img{
    height: 300px;
    width: 220px;
    border: 5px solid white;
    border-radius: 8px;
    margin:1%;
}
.imgColorer{
   
    background-color: rgb(83, 88, 187);
    
}

.popUp{
    position: fixed;
    margin: 0;
    padding: 0;
    width: 60vw;
    height: 75vh;
    background: white;
    border: 1px solid aqua;
}
